body {
	background-image: url("../resources/menu_creditos.png");
	background-size: 989px 615px;
	background-repeat: no-repeat;
	width: 989px;
	height: 615px;
}

.button {
	background-color: Transparent;
	border: none;
    cursor:pointer;
	position: absolute;
	outline: none;
}

#BackBtn {
	top: 537px;
	left: 50px;
	width: 60px;
	height: 50px;
}
